.recipes-section {
  width: 100%;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero .image-container {
  height: 600px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
}

.hero-buttons .browse {
  background: #f10d0c;
  color: white;
}

.hero-button .picks {
  background: lightgrey;
  color: black;
}
.featured-recipes {
  padding: 20px;
}

.feature-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feature-header a {
  text-decoration: none;
  color: #f10d0c;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.recipe-card img {
  width: 100%;
  display: block;
}

.recipe-details {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-details h3 {
  margin: 0;
}

.recipe-details i {
  color: #f10d0c;
}

.categories {
  padding: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  text-align: center;
}

.category-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.trending-now {
  padding: 20px;
}

.trending-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
