<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Multiple {{ title }}</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="summary"
        >Paste your ingredient list here. Add one ingredient per line. Include
        the quantity (i.e. cups, tablespoons) and any special preparation (i.e.
        sifted, softened, chopped).</label
      >
      <textarea
        name="summary"
        id="summary"
        rows="10"
        [(ngModel)]="enteredSummary"
        placeholder="1 cup flour, sifted, 2 eggs, beaten, 1/2 cup sugar"
      ></textarea>
    </p>
    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Submit</button>
    </p>
  </form>
</dialog>
