<h1>FAQ</h1>
<details>
  <summary>How to Submit a Recipe?</summary>
  To submit a recipe, please Sign In or Create Account and fill out the form on
  our website with the recipe details, including ingredients, instructions, and
  any photos you'd like to share. We review all submissions before publishing.
</details>
<details>
  <summary>How to Create Account?</summary>
  To create an account, click on the "Sign Up" button on the top right corner of
  the page. Fill in the required information, including your email address and
  password. Once you submit the form, you'll receive a confirmation email to
  verify your account.
</details>
<details>
  <summary>What to do when you submit the Recipe form?</summary>
  Once you have uploaded all the required Details for the recipe, our admins
  will check the recipe and if it is approved, it will be published on the
  website. You will receive a notification email once your recipe is live.
</details>
<details>
  <summary>If you have submiited the form and recipe doesn't show up?</summary>
  Send an email to "support&#64;indianrecipes.com" with the subject "Recipe
  Submission" and include your name, email address, and a brief description of
  the recipe you submitted. Our team will look into it and get back to you as
  soon as possible.
</details>
