<div class="categories-vertical-sidebar">
  <div class="categories-sidebar-header">
    <div class="close-button-div">
      <button class="close-button" (click)="closeCategoriesPanel()">
        <i>&cross;</i>
      </button>
    </div>
    <div class="heading">
      <h3>Categories</h3>
    </div>
  </div>
  <div class="list-category">
    <div class="keyword">
      <i class="fa fa-envira" aria-hidden="true"></i>
      <span>Appetizers</span>
    </div>
    <div class="keyword">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <span>Soups</span>
    </div>
    <div class="keyword">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <span>Porridge</span>
    </div>
    <div class="keyword">
      <i class="fa fa-cutlery" aria-hidden="true"></i>
      <span>Salads</span>
    </div>
    <div class="keyword">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <span>Desserts</span>
    </div>
    <div class="keyword">
      <i class="fa fa-glass" aria-hidden="true"></i>
      <span>Beverages</span>
    </div>
    <div class="keyword">
      <i class="fa fa-globe" aria-hidden="true"></i>
      <span>International</span>
    </div>
    <div class="keyword">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <span>Quick and Easy</span>
    </div>
    <div class="message">
      <h3>Need Help?</h3>
      <p>Have a question about recipes and cooking techniques?</p>
      <div class="form">
        <p><label for="w3review">Leave a Review</label></p>
        <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
        <button class="submitButton" type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>
