<nav id="topnav">
  <div class="logo">
    <button
      class="menu-button"
      aria-label="Menu"
      (click)="emitToggleEvent()"
      title="Menu"
    >
      <div class="menu-icon">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
      </div>
    </button>
    <span>Manju's Kitchen</span>
  </div>
  <div class="search-container">
    <input type="text" placeholder="Search recipes..." />
    <button class="search">🔍</button>
  </div>
  <div class="right-items">
    <button class="language"><span>English</span>🌐</button>
    <button class="profile"><i class="fa fa-user"></i></button>
  </div>
</nav>
