#topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f10d0c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sidenav {
  width: 295px;
  background-color: #f0f0f0;
  height: 100vh;
  position: fixed;
  top: 65px;
  left: 0;
  transition: width 0.3s ease;
}

.sidenav.open {
  width: 295px;
}

.sidenav:not(.open) {
  width: 60px;
}

.toggle-button {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 5px;
  right: 0;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

/* This style is new */

.logo span {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.menu-button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20px;
  height: 15px;
  margin-right: 8px;
}

.menu-bar {
  width: 100%;
  height: 2px;
  background-color: #fff; /* Example bar color */
}

/* till this line */

.search-container {
  position: relative;
  flex-grow: 1;
  max-width: 600px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #666;
}

button.search {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  color: #f10d0c;
  cursor: pointer;
}

.right-items {
  display: flex;
  align-items: center;
}

.language,
.profile {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
}

.profile i {
  font-size: 20px;
}

button.categories {
  background-color: #ab0805;
  border: 2px solid #ab0805;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
}
